@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";

.search-text {
  padding-top: 15px;
  padding-bottom: 15px;
}

.login{
    background-color:midnightblue; 
    background:image_url("login.png") no-repeat;
    height:500px;

}

.dashboard{
    background:image_url("db.png") no-repeat;
    height:500px;
}


.shipments{
    background:image_url("shipments.jpg") no-repeat;
    height:700px;
    width: 1000px;
}
